---
layout: default
---

<section class="row">
<!-- Limit number of posts to 5 -->
{% for post in site.categories.post limit:5 %}
    <article id="{{post.id}}" class="small-10 small-centered columns">
        {% if post.link %}
            <h3><a href="{{ post.link }}" class="blog-linked">{{ post.title }}</a> &raquo;</h3>
        {% else %}
            <h2><a href="{{site.url}}{{ post.url }}" class="blog-post">{{ post.title }}</a></h2>
        {% endif %}
       <p class="metabar"><time datetime="{{ post.date }}">{{ post.date | ordinal }}</time> <span class="hide-on-print">&middot; <a href="{{site.url}}{{ post.url }}" title="Permalink">∞</a></span></p>
        <div>
            {{ post.content }}
        </div>
    </article>
{% endfor %}
    <p class="centerhack"><a href="{{ site.url }}/posts">Browse the archives &raquo;</a></p>
</section>

