  <footer class="row hide-on-print">
  <div class="small-10 small-centered columns">
      <ul class="horiz-list-center show-for-small social-links">
        <li><a href="mailto:kenrickturner@gmail.com" class="ss-icon ss-social-circle">email</a></li>
        <li><a href="http://flickr.com/photos/kenrickturner" class="ss-icon ss-social-circle">flickr</a></li>
        <li><a href="https://twitter.com/kenrick" class="ss-icon ss-social-circle">twitter</a></li>
        <li><a href="https://github.com/kenners" class="ss-icon ss-social-circle">octocat</a></li>
        <li><a href="{{ site.url }}/feed.xml" class="ss-icon ss-social-circle">rss</a></li>
      </ul>
    {% if page.title == nil %}<p class="hide-for-small"><a href="http://eepurl.com/CBEp9">Subscribe via email</a></span></p>{% endif %}
    <p>&copy; 2003 - 2014 Kenrick Turner</p>
    </div>
  </footer>