<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} {% if page.title %}&middot; {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.name }}">
        <link rel="author" href="{{ site.url }}/humans.txt">
        <link rel="me" href="http://www.google.com/profiles/kenrickturner">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="{{ site.url }}/css/app.css">

        <script src="{{ site.url }}/js/vendor/custom.modernizr.js"></script>

        <link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon-57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/img/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/apple-touch-icon-144.png">
        <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    </head>
    <body>

  <header class="row hide-for-small hide-on-print">
      <nav class="small-5 small-offset-1 columns">
        <ul class="inline-list">
          <li><a href="{{ site.url }}/about">About</a></li>
          <li><a href="{{ site.url }}/posts">Archives</a></li>
          <li><a href="{{ site.url }}/projects">Projects</a></li>
          <li><a href="{{ site.url }}/talks">Talks</a></li>
        </ul>
      </nav>
      <section class="small-4 small-offset-1 columns">
        <ul class="inline-list social-links">
          <li><a href="mailto:kenrickturner@gmail.com" title="Send Kenrick email" class="ss-icon ss-social-circle">email</a></li>
          <li><a href="http://flickr.com/photos/kenrickturner" title="Kenrick's photos are on Flickr" class="ss-icon ss-social-circle">flickr</a></li>
          <li><a href="https://twitter.com/kenrick" title="Follow Kenrick on Twitter" class="ss-icon ss-social-circle">twitter</a></li>
          <li><a href="https://github.com/kenners" title="Kenrick's code is on GitHub" class="ss-icon ss-social-circle">octocat</a></li>
          <li><a href="{{ site.url }}/feed.xml" title="Subscribe via RSS" class="ss-icon ss-social-circle">rss</a></li>
        </ul>
      </section>
  </header>
  <section class="contain-to-grid show-for-small hide-on-print">
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="centerhack">
          <li class="divider"></li>
          <li{% if page.title == nil %} class="active"{% endif %}><a href="{{ site.url }}">Home</a></li>
          <li class="divider"></li>
          <li{% if page.title == 'About' %} class="active"{% endif %}><a href="{{ site.url }}/about">About</a></li>
          <li class="divider"></li>
          <li{% if page.title == 'Archives' %} class="active"{% endif %}><a href="{{ site.url }}/posts">Archives</a></li>
          <li class="divider"></li>
          <li{% if page.title == 'Projects' %} class="active"{% endif %}><a href="{{ site.url }}/projects">Projects</a></li>
          <li class="divider"></li>
          <li{% if page.title == 'Talks' %} class="active"{% endif %}><a href="{{ site.url }}/talks">Talks</a></li>
        </ul>
      </section>
    </nav>
  </section>
  <section class="photobar">
  <div class="row">
    <div class="small-10 small-centered columns titlebar">
      <h1 class="titletext"><a href="{{ site.url }}"><span class="forename">Kenrick</span> Turner</a></h1>
    </div>
  </div>
  </section>
  <section>
    {{ content }}
  </section>
  {% include footer.html %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ site.url }}/js/foundation/foundation.js"></script>
  <script src="{{ site.url }}/js/foundation/foundation.clearing.js"></script>
  <script src="{{ site.url }}/js/foundation/foundation.interchange.js"></script>
  <script src="{{ site.url }}/js/foundation/foundation.orbit.js"></script>
  <script src="{{ site.url }}/js/foundation/foundation.topbar.js"></script>

  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7ecc4cf5a1f50acb00003c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
  </script>
</body>
</html>

