<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>

		<link rel="stylesheet" href="{{ site.url }}/css/reveal/reveal.css">
        <link rel="stylesheet" href="{{ site.url }}/css/reveal/theme/{{ page.slide-theme | default: 'black'}}.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ site.url }}/css/reveal/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ site.url }}/css/reveal/print/pdf.css' : '{{ site.url }}/css/reveal/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown data-separator="^\r?\n---\r?\n$" data-separator-notes="\^\s">
                    <textarea data-template>
{{ content }}
                    </textarea>
                </section>
			</div>
		</div>

		<script src="{{ site.url }}/js/vendor/reveal/head.min.js"></script>
		<script src="{{ site.url }}/js/vendor/reveal/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
                center: false,
				dependencies: [
					{ src: '{{ site.url }}/js/vendor/reveal/plugin/markdown/marked.js' },
					{ src: '{{ site.url }}/js/vendor/reveal/plugin/markdown/markdown.js' },
					{ src: '{{ site.url }}/js/vendor/reveal/plugin/notes/notes.js', async: true },
                    { src: '{{ site.url }}/js/vendor/reveal/plugin/math/math.js', async: true },
					{ src: '{{ site.url }}/js/vendor/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
